<app-input-field type="string" label="test" placeholder="test" value="test" required="true"></app-input-field>
<app-input-field type="textarea" label="test" placeholder="test" value="test" required="true"></app-input-field>
<app-input-field type="picklist" label="test" placeholder="test" value="test" required="true" options="['option1','option2']"></app-input-field>
<app-input-field type="multipicklist" label="test" placeholder="test" value="test" required="true" options="['option1','option2']"></app-input-field>
<app-input-field type="date" label="test" placeholder="test" value="test" required="true"></app-input-field>
<app-input-field type="time" label="test" placeholder="test" value="test" required="true"></app-input-field>
<app-input-field type="datetime" label="test" placeholder="test" value="test" required="true"></app-input-field>
<app-input-field type="reference" label="test" placeholder="test" value="test" required="true"></app-input-field>

