<div>
    <app-page-header page-name="Schema Builder" description="Used to design the schema" icon="standard:asset_relationship"></app-page-header>
    <div class="slds-grid slds-wrap slds-grid_pull-padded slds-m-top_small">
        <div class="slds-p-horizontal_small slds-size_1-of-4">
           <app-navigation items="objects" selected-item="selectedObject"></app-navigation>
        </div>
        <div class="slds-p-horizontal_small slds-size_3-of-4">
            {{selectedObject}}
        </div>
    </div>
</div>