.app-footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: #00a1e0;
    color: white;
}
.slds-lookup__menu {
    padding: 0px !important;
}
.slds-has-error .slds-pill_container {
    background-color: white;
    border-color: #c23934;
    box-shadow: #c23934 0 0 0 1px inset;
    background-clip: padding-box;
}
.app-time-elements {
    text-align:center;
    width:46px;
    margin:0px 5px
}
.app-time-elements .slds-input {
    width:46px;
    padding-left:0px;
    padding:0px;
    margin:5px 0px;
    text-align:center;
}
