<div class="slds-notify_container">
    <div class="slds-notify slds-notify_toast slds-theme_{{type}}" role="alert">
        <span class="slds-assistive-text">{{type}}</span>
        <app-icon icon="utility:{{type}}"></app-icon>
        <div class="slds-notify__content" style="margin-left:10px">
            <h2 class="slds-text-heading_small ">{{messege}}</h2>
        </div>
        <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="Close" ng-click="removeToaster()">
            <app-icon icon="utility:close"></app-icon>
            <span class="slds-assistive-text">Close</span>
        </button>
    </div>
</div>