<div class="slds-grid slds-wrap">
    <div class="slds-size_1-of-1">
        <div class="slds-grid slds-wrap">
            <div class="slds-size_1-of-2">
                Actions
            </div>
            <div class="slds-size_1-of-2">
                Search
            </div>
        </div>
    </div>
    <div class="slds-size_1-of-1">
        <app-table data="data" columns="columns"></app-table>
    </div>
    <div class="slds-size_1-of-1">
        <div class="slds-grid slds-wrap">
            <div class="slds-size_1-of-2">
                Records
            </div>
            <div class="slds-size_1-of-2">
                Pagination
            </div>
        </div>
    </div>
</div>
